#clicker-icone {
  user-select: none;
  cursor: pointer;
  width: 800px;
  height: 400px;
  position: absolute;
  left: calc(50% - 550px);
  top: 130px;
  border-radius: 15px;
  z-index: 2;
  background: transparent;
  border: none;
  border: 2px solid rgba(33, 150, 243, 0.4);
  box-shadow: rgba(33, 150, 243, 0.4) 5px 5px, rgba(33, 150, 243, 0.3) 10px 10px, rgba(33, 150, 243, 0.2) 15px 15px, rgba(33, 150, 243, 0.1) 20px 20px, rgba(33, 150, 243, 0.05) 25px 25px;
}

#clicker-icone img {
  width: 300px;
  height: 300px;
}

.switch-mode {
  position: absolute;
  display: inline-block;
  width: 60px;
  height: 34px;
  top: 150px;
  left: 110px;
  z-index: 5;
}

.switch-mode input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2196F3;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: red;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#image-container {
  position: relative;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.generated-image {
  position: absolute;
  width: 20px;
  height: 20px;
  transform: translate(-50%, -50%);
  z-index: 999;
  opacity: 0.8;
}

.generated-text {
  position: absolute;
  color: black;
  font-weight: bold;
  transform: translate(-50%, -50%);
  z-index: 1000;
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

main {
  background-color: #F4FEFE;
}

.main-container {
  width: 100%;
  display: grid;
}

.main-container .upgrade-container {
  position: absolute;
  height: 390px;
  right: 50px;
  border-radius: 10px;
  width: 250px;
  padding-top: 10px;
  top: 130px;
  z-index: 3;
  background-color: #fff;
  border: 2px solid rgba(33, 150, 243, 0.4);
  box-shadow: rgba(33, 150, 243, 0.4) 5px 5px, rgba(33, 150, 243, 0.3) 10px 10px, rgba(33, 150, 243, 0.2) 15px 15px, rgba(33, 150, 243, 0.1) 20px 20px, rgba(33, 150, 243, 0.05) 25px 25px;
}

.upgrade-container .upgrade-element {
  display: grid;
  grid-template-columns: 50px auto 50px;
  margin: 20px 15px;
  padding: 5px 10px;
  border-radius: 10px;
  user-select: none;
  cursor: pointer;
  background-color: #2196f3;
  color: #fff;
}

.upgrade-container .upgrade-element p {
  display: flex;
  margin: 0px 0px 0px 0px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.upgrade-container .upgrade-element strong {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
}

.upgrade-container .upgrade-element img {
  width: 40px;
  height: 40px;
  margin: 5px 5px 5px 5px;
  background-color: #fff;
  border-radius: 50%;
}

#counter-drop {
  position: absolute;
  top: 140px;
  border-radius: 10px;
  display: flex;
  height: 50px;
  width: 100px;
  left: calc(50% + 125px);
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #2196F3;
}

#counter-drop img {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
}
