/* You can add global styles to this file, and also import other style files */
body {
    background-color: white;
    color: black;
    transition: background-color 0.3s, color 0.3s;
  }
  
  body .dark-mode {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); /* Couche sombre */
    pointer-events: none; /* Pour ne pas bloquer les clics */
    z-index: 1000; /* Au-dessus de tout */
    mix-blend-mode: multiply; /* Permet des effets intéressants selon le fond */
    transition: background-color 0.3s ease-in-out;
  }

  .torch {
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
    position: absolute;
  pointer-events: none;
  border-radius: 50%;
  width: 100px; /* Taille de la torche */
  height: 100px;
  background-color: transparent;
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.9); /* Effet de trou */
  transform: translate(-50%, -50%);
  z-index: 1001; /* Toujours au-dessus du calque sombre */
  }

  body.dark-mode .torch {
    box-shadow: none; /* Désactiver l'effet de trou en mode sombre */
    background-color: rgba(255, 255, 255, 0.1); /* Facultatif : un léger effet */
  }

  body.light-area .torch::after {
    background-color: white; 
  }