@font-face {
  font-family: 'minecraft';
  src: url('/assets/minecraft-enchantment.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --app-font-family: 'Arial';
}

* {
  font-family: var(--app-font-family), sans-serif !important;
}

body {
  margin: 0px;
  background-color: white;
  color: black;
  transition: background-color 0.3s, color 0.3s;
  font-family: var(--app-font-family), sans-serif !important;
}

body .dark-mode {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  pointer-events: none;
  z-index: 1000;
  mix-blend-mode: multiply;
  transition: background-color 0.3s ease-in-out;
}

.torch {
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
  position: absolute;
  pointer-events: none;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: transparent;
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 1);
  transform: translate(-50%, -50%);
  z-index: 1001;
}

body.dark-mode .torch {
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.1);
}

body.light-area .torch::after {
  background-color: white;
}

:root {
  --border-one: rgba(33, 150, 243, 0.4);
  --border-two: rgba(33, 150, 243, 0.3);
  --border-three: rgba(33, 150, 243, 0.2);
  --border-four: rgba(33, 150, 243, 0.1);
  --border-five: rgba(33, 150, 243, 0.05);
  --color: #2196F3;
}

.red-theme {
  --border-one: rgba(255, 0, 0, 0.4);
  --border-two: rgba(255, 0, 0, 0.3);
  --border-three: rgba(255, 0, 0, 0.2);
  --border-four: rgba(255, 0, 0, 0.1);
  --border-five: rgba(255, 0, 0, 0.05);
  --color: #FF0000;
}
