<header>
  <div class="header-left">
    <img id="logo-header" src="../../assets/Images/eau2.png" alt="logo" draggable="false" />
    <p>WaterClicker</p>
  </div>
  <button (click)="toggleTheme()">Dark/Light</button>

  <div class="header-right">
    <h2 (click)="toggleSubmenu()">{{ selectedOption }}</h2>
    <div class="submenu" [class.active]="showSubmenu">
      <p (click)="selectOption('Francais', 'sans-serif')">Francais</p>
      <p (click)="selectOption('Minecraft', 'minecraft')">Minecraft</p>
    </div>
  </div>
</header>
