<header>
  <div class="header-left">
    <img id="logo-header" src="../../assets/Images/eau2.png" alt="logo" draggable="false" />
    <p>WaterClicker</p>
  </div>

  <button id="dark-light-btn" (click)="toggleTheme()">
    <img [src]="etatBtn === 'lune' ? '../../assets/lune.png' : '../../assets/soleil.png'" alt="dark">
  </button>

  <div class="header-right">
    <h2 (click)="toggleSubmenu()">{{ selectedOption }}</h2>
    <div class="submenu" [class.active]="showSubmenu">
      <p (click)="changeFont('Français')">Français</p>
      <p (click)="changeFont('minecraft')">Minecraft</p>
    </div>
  </div>

  <div *ngIf="captchaValidate == false">
    <button 
  class="captcha-header"
  (click)="popup.openPopup()"
>
  Ouvrir le Captcha
    </button>
    <app-captcha #popup (gameVictory)="receiveFromCaptcha($event)"></app-captcha>
</div>
</header>
