header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 60px 10px 20px;
  background-color: #fff;
  box-shadow: var(--border-one) 5px 5px, var(--border-two) 10px 10px, var(--border-three) 15px 15px, var(--border-four) 20px 20px, var(--border-five) 25px 25px;
}

.header-left,
.header-right {
  display: flex;
  align-items: center;
}

.header-left img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.header-right h2 {
  position: absolute;
  right: 62px;
  border: 1px solid var(--color);
  padding: 4px 20px 10px 20px;
  margin: -4px -20px;
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
  border-radius: 10px;
  cursor: pointer;
  width: 100px;
}

.header-right .submenu {
  display: none;
  position: absolute;
  top: 43px;
  background-color: #fff;
  right: 41.8px;
  width: 140px;
  z-index: 10;
  border: 1px solid var(--color);
  flex-direction: column;
  border-top: none;
  border-radius: 0px 0px 10px 10px;
}

.header-right .submenu.active {
  display: flex;
}

.header-right .submenu p {
  padding: 0px 0px 0px 20px;
  cursor: pointer;
}

.header-right .submenu p:hover {
  background-color: #f0f0f0;
}

#dark-light-btn {
  background-color: #fff;
  border: none;
}

#dark-light-btn img {
  width: 40px;
  height: 40px;
  padding: 5px;
  margin: -5px;
  border-radius: 50%;
  border: 2px solid var(--color);
}

.captcha-header {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 80px;
  width: 100%;
  z-index: 11;
  background-color: var(--color);
  border: none;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}
