header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 60px 10px 20px;
  background-color: #fff;
  box-shadow: rgba(33, 150, 243, 0.4) 5px 5px, rgba(33, 150, 243, 0.3) 10px 10px, rgba(33, 150, 243, 0.2) 15px 15px, rgba(33, 150, 243, 0.1) 20px 20px, rgba(33, 150, 243, 0.05) 25px 25px;
}

.header-left,
.header-right {
  display: flex;
  align-items: center;
}

.header-left img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.header-right h2 {
  border: 1px solid #2196f3;
  padding: 4px 20px;
  margin: -4px -20px;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 20px;
  border-radius: 10px;
}

.header-right .submenu {
  display: none;
  position: absolute;
  top: 48px;
  background-color: #fff;
  right: 40px;
  width: 140px;
  z-index: 10;
  border: 1px solid #2196f3;
  flex-direction: column;
  border-top: none;
  border-radius: 0px 0px 10px 10px;
}

.header-right .submenu.active {
  display: flex;
}

.header-right .submenu p {
  padding: 0px 0px 0px 20px;
  cursor: pointer;
}

.header-right .submenu p:hover {
  background-color: #f0f0f0;
}

.captcha-header{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 80px;
  width: 100%;
  z-index: 11;
}
